@font-face {
    font-family: enriqueta;
    src: url(fonts/Enriqueta-Regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: enriqueta;
    src: url(fonts/Enriqueta-Bold.otf);
    font-weight: bold;
    
}

:root.light {
    --sidebar-bck: #e8998d;
    --sidebar-highlight: #ffa99c;
    --sidebar-text: white; 

    --misty-rose: #eed2cc;
    --polished-pine: #6c9a8b;
    --isabelline: #fbf7f4;
    --brown-sugar: #a1683a;
}

:root.dark {
    --sidebar-bck: #d8867a;
    --sidebar-highlight: #c4776b;
    --sidebar-text: black;

    --misty-rose: #eed2cc;
    --polished-pine: #6c9a8b;
    --isabelline: #fbf7f4;
    --brown-sugar: #a1683a; 
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Enriqueta', 'Times New Roman', Times, serif;
    /* border: 1px solid black; */
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    background-color: var(--sidebar-bck);
    color: var(--sidebar-text);
    font-size: 20px;
    padding: 20px 0px;
    grid-row: 1 /  span 2;
    display: grid;
    grid-template-rows: repeat(1fr, 3);
    align-content: start;
    row-gap: 2.5em;
}

.sidebar-section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    padding: 10px 20px;
}

.sidebar-one {
    font-size: 27px;
    font-weight: bold;
}

.sidebar-one svg {
    height: 35px;
    width: 35px;
}

.sidebar-two *:hover {
    background-color: var(--sidebar-highlight);
    cursor: pointer;
}

svg {
    fill: var(--sidebar-text);
    height: 24px;
    width: 24px;
}

.header {
    background-color: var(--isabelline);
    color: black;
    padding: 20px;
}

.content {
    background-color: var(--misty-rose);
    color: black;
    padding: 20px;
}