@font-face {
    font-family: enriqueta;
    src: url(fonts/Enriqueta-Regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: enriqueta;
    src: url(fonts/Enriqueta-Bold.otf);
    font-weight: bold;
    
}

:root {
    --misty-rose: #eed2cc;
    --vivid-tangerine: #e8998d;
    --polished-pine: #6c9a8b;
    --isabelline: #fbf7f4;
    --brown-sugar: #a1683a;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Enriqueta', 'Times New Roman', Times, serif;
    /* border: 1px solid black; */
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar, .header, .content {
    padding: 20px;
}

.sidebar {
    background-color: var(--vivid-tangerine);
    color: white;
    font-size: 20px;
    grid-row: 1 /  span 2;

    display: grid;
    grid-template-rows: repeat(1fr, 3);
    align-content: start;
    row-gap: 3em;
}

.sidebar-section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    row-gap: 20px;
    column-gap: 3px;
}

.sidebar-top {
    font-size: 27px;
    font-weight: bold;
}

.icon {
    display: inline-block;
    background-color: var(--brown-sugar);
    height: 20px;
    width: 20px;
}

.header {
    background-color: var(--isabelline);
    color: black;
}

.content {
    background-color: var(--misty-rose);
    color: black;
}